@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   min-height: 100vh;
}

:root {
   --fullscreen-header-height: 4rem;
}

body {
   margin: 0;
}

* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
}

@layer components {
   body {
      @apply bg-radix-gray-500;
      @apply text-radix-gray-1200;
   }

   body.dark {
      @apply bg-radix-gray-300;
   }

   /* * {
      @apply outline outline-1 outline-pink-600;
   } */

   .custom-scrollbar {
      --sb-track-color: theme("colors.radix.gray.300");
      --sb-thumb-color: theme("colors.radix.gray.800");
      --sb-size: 1rem;
      @apply gutter-stable;
   }

   .custom-scrollbar.light-scrollbar {
      --sb-track-color: theme("colors.radix.gray.400");
      --sb-thumb-color: theme("colors.radix.gray.900");
   }

   .custom-scrollbar::-webkit-scrollbar {
      width: var(--sb-size);
   }

   .custom-scrollbar::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 15px;
   }

   .custom-scrollbar::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 15px;
      border: 5px solid var(--sb-track-color);
   }

   @supports not selector(::-webkit-scrollbar) {
      .custom-scrollbar {
         scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      }
   }

   .disable-scrollbars {
      scrollbar-width: none;
   }

   .progress-pending-bg {
      --progress-color-1: theme("colors.radix.indigo.600");
      --progress-color-2: theme("colors.transparent");
      background-image: linear-gradient(
         45deg,
         var(--progress-color-1) 25%,
         var(--progress-color-2) 25%,
         var(--progress-color-2) 50%,
         var(--progress-color-1) 50%,
         var(--progress-color-1) 75%,
         var(--progress-color-2) 75%,
         var(--progress-color-2)
      );
      background-size: 4rem 4rem;
      animation: slide 800ms linear infinite;
   }

   @keyframes slide {
      0% {
         background-position: 0 0;
      }
      100% {
         background-position: 4rem 0;
      }
   }
}
