@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   font-family: "Poppins", sans-serif;
   min-height: 100vh;
}

:root {
   --fullscreen-header-height: 4rem;
   --titlebar-height: 3rem;
}

body {
   margin: 0;
}

* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   @apply scrollbar-thin scrollbar-thumb-background-300/70 scrollbar-thumb-rounded-full scrollbar-w-1;
   @apply border-primary/50;
}

@layer components {
   body {
      @apply bg-background-100 text-foreground;
      @apply transition-colors;
   }

   .progress-pending-bg {
      /* --progress-color-1: theme("colors.radix.indigo.600"); */
      --progress-color-2: theme("colors.transparent");
      background-image: linear-gradient(
         45deg,
         var(--progress-color-1) 25%,
         var(--progress-color-2) 25%,
         var(--progress-color-2) 50%,
         var(--progress-color-1) 50%,
         var(--progress-color-1) 75%,
         var(--progress-color-2) 75%,
         var(--progress-color-2)
      );
      background-size: 4rem 4rem;
      animation: slide 800ms linear infinite;
   }

   @keyframes slide {
      0% {
         background-position: 0 0;
      }
      100% {
         background-position: 4rem 0;
      }
   }

   .window-drag {
      -webkit-app-region: drag;
      -webkit-user-select: none;
   }

   .window-drag .no-drag,
   button,
   input,
   textarea,
   label {
      -webkit-app-region: no-drag;
   }
}
